---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1552664730-d307ca884978',
      alt: 'People in conference room, working together, whiteboard with stickies and notes',
    }}
  >
    <Fragment slot="title"> A little bit about us </Fragment>

    <Fragment slot="subtitle"> </Fragment>
  </Hero>

  <p class="max-w-xl sm:mx-auto lg:max-w-5xl text-xl">
    Welcome to Augmented Developers, a passionate team dedicated to using the latest technology and agile methods to
    help our clients thrive and also pursue our own happiness at work.
    <br /><br />
    One of the main motivations for making Augmented Developers is unhappiness with how things were done in other places.
    I wanter to create a place where I would be happy to work and where I could help others be happy too by creating their
    ideas and projects. I believe that happy people are more productive and creative, and that's why I want to create a place
    where people can be happy and creative.
    <br /><br />
    Who are we? We're a boutique agency that believes in the power of innovation and simplicity. Our approach is straightforward:
    we use agile methodologies, AI, and smart techniques to give our clients a competitive edge in today's fast-paced world.
    <br /><br />
    What do we love? Technology. We're enthusiasts who find joy in creating new solutions and pushing boundaries.
    <br /><br />
    What makes us different? Our commitment to our clients and our focus on results. We're not just here to deliver projects;
    we're here to make a real impact on your business. So, if you're looking for a partner who values creativity, agility,
    and a personal touch, look no further than Augmented Developers.
    <br /><br />
    Let's work together to bring your ideas to life and achieve success in the digital world. Welcome to Augmented Developers.
    Let's make something great together.
  </p>

  <Features3
    columns={3}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
  />
</Layout>
