---
import Steps from '~/components/widgets/Steps.astro';
import Hero from '~/components/widgets/Hero.astro';
import PricingSection from '~/components/widgets/PricingSection.astro';
import Layout from '~/layouts/PageLayout.astro';
import JakeImage from '~/assets/images/zeljko_at_work.jpg';

const metadata = {
  title: 'Techical Advisory Coaching',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Your Strategic Advisor and Mentor"
    image={{
      src: JakeImage,
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">Tech Strategy & Leadership Coaching</Fragment>
  </Hero>

  <PricingSection id="JTC" title="For CTOs, Tech Leads, and Technologists" url="/start">
    <Fragment slot="explain">
      <section class="bg-gray-50 p-6 rounded-lg shadow-lg max-w-3xl">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Techical Advisory Coaching</h2>
        <p class="text-lg text-gray-700 mb-4">
          You don’t need more code; you need strategic advice and clear direction. With biweekly strategy sessions, I’ll
          be your active advisor and mentor helping you navigate business, technology, and personal challenges. We’ll
          discuss your project’s architecture, your team, and your tech strategy in a way that tackles both high-level
          decisions and day-to-day obstacles.
        </p>

        <p class="text-lg text-gray-700 mb-4">
          If you’re feeling stuck or overwhelmed, these sessions will give you the clarity and support needed to move
          forward with confidence. As an action coach, I focus on overcoming roadblocks, simplifying complex processes,
          and driving results. Together, we’ll ensure you have more time, reduce stress, and increase productivity—so
          you can focus on what really matters: leading and delivering with impact.
        </p>

        <h3 class="text-lg font-bold mb-4">Focus Areas ↓</h3>

        <ul class="list-disc list-inside text-lg text-gray-700 mb-4">
          <li><strong>Strategic clarity</strong> for your technology roadmap and decision-making.</li>
          <li>A <strong>high-level perspective</strong> on your team’s performance and project architecture.</li>
          <li>
            <strong>Overcome roadblocks</strong> with actionable advice on both technical and leadership challenges.
          </li>
          <li><strong>Boost productivity</strong> by simplifying complex processes and workflows.</li>
          <li><strong>Reduce stress</strong> with clear guidance and structured approaches to problem-solving.</li>
          <li><strong>Develop leadership skills</strong> to manage team dynamics and improve collaboration.</li>
          <li>Receive <strong>tailored advice</strong> based on your unique challenges and goals.</li>
          <li>Ensure <strong>team alignment</strong> with broader business objectives for better project outcomes.</li>
          <li><strong>Increase focus</strong> by removing distractions and addressing high-priority tasks.</li>
          <li>Enhance <strong>time management</strong> to balance leadership responsibilities and personal life.</li>
          <li>Build a <strong>proactive approach</strong> to problem-solving for long-term success.</li>
          <li>Stay <strong>accountable</strong> with regular biweekly check-ins to track progress.</li>
          <li><strong>Grow personally</strong> as you balance professional growth with personal development.</li>
          <li>Make <strong>confident decisions</strong> with expert mentorship supporting your choices.</li>
          <li>Free up resources to focus on delivering <strong>meaningful impact</strong> and leading effectively.</li>
        </ul>
      </section>
    </Fragment>

    <table class="w-full">
      <tr>
        <td class="text-xl font-bold">Monthly</td>
        <td class="text-xl font-bold">$2,000/mo</td>
      </tr>
    </table>
  </PricingSection>

  <!-- <br /><br /><br /><br /><br />

  <Steps
    id="play-by-play"
    title="Week by week"
    items={[
      {
        title: 'Week 1 <br /> <span class="text-sm font-normal">Prototyping</span>',
        description: `We will start with a planning session to understand your business and your goals. <br /> We will then create wireframes and prototypes to help you visualize the product.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Week 2 <br /> <span class="text-sm font-normal">UI design</span>',
        description: `We will create a design system and apply it to the wireframes. <br /> We will also create a style guide to help us stay consistent.`,
        icon: 'tabler:vector-triangle',
      },
      {
        title: 'Week 3 <br /> <span class="text-sm font-normal">Development</span>',
        description: `Wire in login and user authentication, database model and admin panel to manage data.`,
        icon: 'tabler:code',
      },
      {
        title: 'Week 4 <br /> <span class="text-sm font-normal">Feature development</span>',
        description: `In this week we will focus on feature that makes your idea unique.`,
        icon: 'tabler:code',
      },
      {
        title: 'Week 5 &amp; 6 <br /> <span class="text-sm font-normal">Feature development</span>',
        description: `Continue working on main feature of the application.`,
        icon: 'tabler:code',
      },
      {
        title: 'Week 7 <br /> <span class="text-sm font-normal">Finish development work</span>',
        description: `We will finish all development work and prepare for launch. <br /> We will also prepare documentation for the app.`,
        icon: 'tabler:code',
      },
      {
        title: 'Week 8 <br /> <span class="text-sm font-normal">Launch!</span>',
        description: `If it is not published we will publish site live. <br /> We will configure tracking and analytics. We will work with you to learn how to manage the app.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Weeks 9-12 <br /> <span class="text-sm font-normal">Optimize</span>',
        description: `While tracking users we will optimize the site for better performance and conversion.<br /> We will also fix any bugs that might have appeared.`,
        icon: 'tabler:bug-off',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <Hero actions={[{ variant: 'primary', text: 'Book a call', href: '/services' }]}>
    <Fragment slot="title">Tech Strategy & Leadership Coaching</Fragment>

    <Fragment slot="subtitle">
      Help is just a call away. Get the clarity and support you need to lead with confidence and deliver with impact.
    </Fragment>
  </Hero>

  <br /><br /><br /><br /><br />
</Layout>
