---
import Layout from '~/layouts/PageLayout.astro';

import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Augmented Developers',
};
---

<Layout metadata={metadata}>
  <FAQs
    title="Frequently Asked Questions"
    columns={1}
    items={[
      {
        title:
          'Is this the best way to make software, in big corporations we have all this superior agile processes and methods?',
        description: 'Definitely yes. This is the best way to make software for this size and kind of organization.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What if my project is bigger then a MVP package you offer?',
        description: `Well... two things. One, packages are just foundations of the projects, you can always add weeks of work that you need and want, after all, we are here to make what you want, not to force you to accept something subpar. Secondly, packages are well sized and we will try to convince you to pick what you really need for start as we will be happy to continue working with you after we complete those initial features. The only question is, what are really the most important features for you to start with?`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can AI just do everything?',
        description: `Hahaha, nope, not even close. But it is very useful tool which as you can see we love to use.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'I heard that MongoDB is the best database, can you use my preferred technology for my project?',
        description: `We will definitely hear your preferences, but our deal is that we are experts and know what to do. There are technologies that makes us more productive, your projects more scalable or secure. So, we will hear you, but then we will tell you what is the best for your project.`,
        icon: 'tabler:chevrons-right',
      },
      
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
</Layout>
