---
import Layout from '~/layouts/PageLayout.astro';

import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Augmented Developers',
};
---

<Layout metadata={metadata}>
  <FAQs
    title="Frequently Asked Questions"
    columns={1}
    items={[
      {
        title:
          'Is this the best way to make software, in big corporations we have all this superior agile processes and methods?',
        description: 'Definitely yes. This is the best way to make software for this size and kind of organization.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What if my project is bigger then a MVP package you offer?',
        description: `Well... two things. One, packages are just foundations of the projects, you can always add weeks of work that you need and want, after all, we are here to make what you want, not to force you to accept something subpar. Secondly, packages are well sized and we will try to convince you to pick what you really need for start as we will be happy to continue working with you after we complete those initial features. The only question is, what are really the most important features for you to start with?`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
</Layout>
