---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Offer from '~/components/widgets/HomepageOffer.astro';

import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Augmented Developers',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Offer"
    actions={[
      { variant: 'primary', text: 'Get Started', href: '/services' },
      { text: 'Learn more', href: '/method' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Create More, Consume Less',
    }}
  >
    <Fragment slot="title">
      <small>
        Make <span class="text-accent dark:text-white highlight">your projects</span> with<br />
        our <span class="text-accent dark:text-white highlight">expert developers</span>, boosted by
        <span class="text-accent dark:text-white highlight">advanced AI</span><br /> and <span
          class="text-accent dark:text-white highlight">superior tools</span
        ><br />
      </small>
    </Fragment>

    <Fragment slot="subtitle"> Create the Future with AI and Tech </Fragment>
  </Hero2>

  <!-- <Offer /> -->

  <Features
    id="features"
    title="Why choose Us?"
    subtitle="Some of the many reasons working with us will give you advantage."
    columns={2}
    items={[
      {
        title: 'Frequent updates',
        description:
          'We provide frequent updates to our clients to keep them informed about the progress of their projects. We use Continuous Integration and Continuous Deployment (CI/CD) to ensure that our clients are always see what is latest progress.',
        icon: 'tabler:12-hours',
      },
      {
        title: 'Transparent pricing',
        description: `Our pricing is same for everyone and published on the website. Please check out <a href="/offer">our offer</a> to see.`,
        icon: 'tabler:coin',
      },
      {
        title: 'Light Agile process',
        description: `We use Agile process to ensure that your projects move forward every day. We try to limit meetings and leave more time to focus on work.`,
        icon: 'tabler:writing',
      },
      {
        title: 'PWA - You can have it all!',
        description: `Apps we are making are Progressive Web Apps and are optimized for every device and available on every platform. They are highly interactive, can work offline and can do most things apps through app store can.`,
        icon: 'tabler:device-tablet',
      },
      {
        title: 'Comprehensive solutions',
        description: `We don't just produce code, while this is our core competency, we make sure your UX works for your clients and that you can track and follow what is happening with your app. After launch we stay to train you and help you learn to manage your app.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Best tech and practices',
        description: `We love what we do and we love to use best technology for it. We are always learning and improving our skills and we are always looking for ways to get things better.`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Integrated AI help',
        description: `AI changed and is changing how we work. We are embracing it fully but without the folly of thinking it can do everything. We use AI to help us and you to get better results for you.`,
        icon: 'tabler:devices-pc',
      },
      {
        title: 'Simple interaction',
        description: `We try to make your interaction with us as simple as possible. You can start project, add more resources, spin it down, change it up and stop whenever you want. You prepay 2 weeks at the time and all the resources that we produce are always yours, we don't play games or try to lock you in.`,
        icon: 'tabler:asterisk-simple',
      },
      {
        title: 'We are humble',
        description: ``,
        icon: 'tabler:number-1',
      },
      {
        title: 'No we are not, we are the best!',
        description: ``,
        icon: 'tabler:number-1',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is AstroWind compatible with the latest versions of Astro and Tailwind CSS?',
        description:
          'Yes, AstroWind is designed to be compatible with the latest versions of both Astro and Tailwind CSS. This ensures that you can harness the full capabilities of these technologies while benefiting from the features offered by AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="What does the blog say?"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and how Augmented Developers can help you do more and make better projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
