---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import TextSlides from '~/components/ui/TextSlides.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';

const metadata = {
  title: 'Augmented Developers',
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline="Offer"
    actions={[
      { text: 'What is a twist?', href: '#features' },
      { variant: 'primary', text: 'Book a call', href: '/start' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27',
      alt: 'Create More, Consume Less',
    }}
  >
    <Fragment slot="title">
      <small>
        We
        <TextSlides
          items={[
            'ship software in weeks',
            'build faster',
            'use superior tools and AI',
            'are happy developers',
            'make our clients happy',
          ]}
          class="text-accent"
        />
        <br />
        With an <span class="text-orange-600">unique twist</span><br />
      </small>
    </Fragment>
  </Hero2>

  <Features
    id="features"
    title="Why choose Us?"
    subtitle="Some of the many reasons working with us will give you advantage."
    columns={2}
    items={[
      {
        title: 'Start, pause or stop anytime',
        description: 'You are in charge of your project.',
        icon: 'tabler:asterisk-simple',
      },
      {
        title: 'Transparent pricing',
        description: `Our pricing is same for everyone and published on the website. Please check out <a href="/services">our services</a> to see.`,
        icon: 'tabler:coin',
      },

      {
        title: 'Simple interaction',
        description:
          'We simplify interaction, through simple board where we will together prioritize tasks and you can follow and track updates.',
        icon: 'tabler:asterisk-simple',
      },
      {
        title: 'Frequent updates',
        description:
          'We keep you updated through a Kanban board, using CI/CD to ensure you always see the latest developments.',
        icon: 'tabler:12-hours',
      },
      {
        title: 'Light Agile process',
        description: `We use Agile process to ensure that your projects move forward every day. We limit meetings and leave more time to focus on work.`,
        icon: 'tabler:writing',
      },
      {
        title: 'PWA - You can have it all!',
        description: `Our Progressive Web Apps are optimized for all devices and platforms. They're highly interactive, work offline, and offer functionality comparable to app store apps.`,
        icon: 'tabler:device-tablet',
      },
      {
        title: 'Comprehensive solutions',
        description: `We do more than just code. We ensure your UX meets client needs, provide tracking tools for your app's performance, and offer post-launch training so you can manage it confidently.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Best tech and practices',
        description: `We love what we do and we love to use best technology for it. Currently we find cloud databases to provide amazing benefits, but we are on the lookout for best things for our clients always.`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Own your code and assets',
        description:
          "All the designs, code and documentation are always yours, you have access to it since day one and we don't play games or try to lock you in.",
        icon: 'tabler:devices-pc',
      },
      // {
      //   title: 'We are humble',
      //   description: ``,
      //   icon: 'tabler:number-1',
      // },
      {
        title: 'We are the best!',
        description: ``,
        icon: 'tabler:number-1',
      },
    ]}
  />

  <LetsStart />

  <BlogLatestPosts
    id="blog"
    title="What does the blog say?"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and how Augmented Developers can help you do more and make better projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
