---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import TextSlides from '~/components/ui/TextSlides.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';
import Image from '~/components/common/Image.astro';
import techWeLove from '~/assets/images/tech-we-love.png';

const metadata = {
  title: 'Augmented Developers',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Senior Product Engineers"
    actions={[
      { text: 'What is a twist?', href: '#features' },
      { variant: 'primary', text: 'Book a call', href: '/start' },
    ]}
    image={{
      src: '~/assets/images/domenico-loia-EhTcC9sYXsw-unsplash.jpg',
      alt: 'Create More, Consume Less',
    }}
  >
    <Fragment slot="title">
      <small>
        We
        <TextSlides
          items={[
            'can start in a week',
            'ship every day',
            'have devs with AI',
            'are happy developers',
            'make our clients happy',
          ]}
          class="text-accent"
        />
        <br />
        With an <span class="text-orange-600">unique twist</span><br />
      </small>
    </Fragment>
  </Hero>

  <Features
    id="features"
    title="Why choose Us?"
    subtitle="Some of the many reasons working with us will give you advantage."
    columns={2}
    items={[
      {
        title: 'Start, pause or stop anytime',
        description:
          'We simplified how to hire, fire or upscale your team. Start with Product Developer (M) and decide if you need more.',
        icon: 'tabler:asterisk-simple',
      },
      {
        title: 'One Sprint at the time',
        description:
          'Plan the Sprint with us, see progress every day and decide what to do next. You are in charge of your project.',
        icon: 'tabler:asterisk-simple',
      },

      {
        title: 'Transparent pricing',
        description: `Our pricing is same for everyone and published on the website. Please check out <a href="/services">our services</a> to see.`,
        icon: 'tabler:coin',
      },
      {
        title: 'Frequent updates',
        description:
          'We keep you updated through a Kanban board, using CI/CD to ensure you always see the latest developments.',
        icon: 'tabler:12-hours',
      },
      {
        title: 'Light Agile process',
        description: `We use Agile process to ensure that your projects move forward every day. We limit meetings and leave more time to focus on work.`,
        icon: 'tabler:writing',
      },
      {
        title: 'Quality assurance',
        description:
          'We use automated testing, code reviews, and continuous integration to ensure the quality of your project.',
        icon: 'tabler:check',
      },
      {
        title: 'No lock-in',
        description:
          'We believe in empowering our clients, not locking them in. You own all the code and assets from day one.',
        icon: 'tabler:lock-open-2',
      },
      {
        title: 'Best tech and practices',
        description: `We love what we do and we love to use best technology for it. Currently we find cloud databases to provide amazing benefits, but we are on the lookout for best things for our clients always.`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Own your code and assets',
        description:
          "All the designs, code and documentation are always yours, you have access to it since day one and we don't play games or try to lock you in.",
        icon: 'tabler:devices-pc',
      },
      {
        title: 'We integrate with your team',
        description:
          'Our goal is always to empower you not to replace your talent. We will work with your existing team and even train them to take over the project once we are done.',
        icon: 'tabler:devices-pc',
      },
    ]}
  />
  <div class="flex items-center justify-center mx-4 md:py-20 max-w-5xl mx-auto">
    <Image src={techWeLove} alt="Tech We Love" />
  </div>

  <LetsStart />

  <BlogLatestPosts
    id="blog"
    title="What does the blog say?"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and how Augmented Developers can help you do more and make better projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>