---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Offer from '~/components/widgets/HomepageOffer.astro';
import TextSlides from '~/components/ui/TextSlides.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Augmented Developers',
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline="Offer"
    actions={[
      { text: 'What is a twist?', href: '#features' },
      { variant: 'primary', text: 'Book a call', href: '/start' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27',
      alt: 'Create More, Consume Less',
    }}
  >
    <Fragment slot="title">
      <small>
        We
        <TextSlides
          items={[
            'ship software in weeks',
            'build faster',
            'use superior tools and AI',
            'are happy developers',
            'make our clients happy',
          ]}
          class="text-accent"
        />
        <br />
        With an <span class="text-orange-600">unique twist</span><br />
      </small>
    </Fragment>
  </Hero2>

  <!-- <Offer /> -->

  <Features
    id="features"
    title="Why choose Us?"
    subtitle="Some of the many reasons working with us will give you advantage."
    columns={2}
    items={[
      {
        title: 'Simple interaction',
        description:
          'We simplify interaction, through simple board where we will together prioritize tasks and you can follow and track updates.',
        icon: 'tabler:asterisk-simple',
      },
      {
        title: 'Transparent pricing',
        description: `Our pricing is same for everyone and published on the website. Please check out <a href="/offer">our offer</a> to see.`,
        icon: 'tabler:coin',
      },
      {
        title: 'Frequent updates',
        description:
          'We provide frequent updates to our clients to keep them informed about the progress of their projects. We use Continuous Integration and Continuous Deployment (CI/CD) to ensure that our clients are always see what is latest progress.',
        icon: 'tabler:12-hours',
      },
      {
        title: 'Light Agile process',
        description: `We use Agile process to ensure that your projects move forward every day. We limit meetings and leave more time to focus on work.`,
        icon: 'tabler:writing',
      },
      {
        title: 'PWA - You can have it all!',
        description: `Apps we are making are Progressive Web Apps and are optimized for every device and available on every platform. They are highly interactive, can work offline and can do most things apps through app store can.`,
        icon: 'tabler:device-tablet',
      },
      {
        title: 'Comprehensive solutions',
        description: `We don't just produce code, while this is our core competency, we make sure your UX works for your clients and that you can track and follow what is happening with your app. After launch we stay to train you and help you learn to manage your app.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Best tech and practices',
        description: `We love what we do and we love to use best technology for it. Currently we find cloud databases to provide amazing benefits, but we are on the lookout for best things for our clients always.`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Own your code and assets',
        description:
          "All the designs, code and documentation are always yours, you have access to it since day one and we don't play games or try to lock you in.",
        icon: 'tabler:devices-pc',
      },
      {
        title: 'We are humble',
        description: ``,
        icon: 'tabler:number-1',
      },
      {
        title: 'We are the best!',
        description: ``,
        icon: 'tabler:number-1',
      },
    ]}
  />
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="What does the blog say?"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and how Augmented Developers can help you do more and make better projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
