---
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink, getBlogPermalink, getAsset } from '~/utils/permalinks';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Steps from '~/components/widgets/Steps.astro';
import OurMethod from '~/components/widgets/MethodProducing.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';

const metadata = {
  title: 'Augmented Developers - Cybernetically Enhanced Web Development',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      { variant: 'primary', text: 'Services', href: '/services' },
      { text: 'Start', href: '/start' },
    ]}
    image={{
      src: '~/assets/images/happy-team-planning.png',
      alt: 'The Method Image',
    }}
  >
    <Fragment slot="title"> The Method </Fragment>

    <Fragment slot="subtitle">
      Our method is focused on your needs and goals, very light on process. It is focused on producing visible results
      and quickly so that feedback loop work well. Like Agile was meant to be.
    </Fragment>
  </Hero>

  <Note />

  <OurMethod
    title="We keep you involved with quick feedback loop"
    subtitle="We combine our team’s depth of experience in building software, our client’s intimate knowledge of the industries they serve and insights uncovered through the discoveries we make."
  />

  <Steps
    title="Our Method for producing software"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Goal Alignment &amp; Strategy Workshop</span>',
        description:
          "Dive into your project with a focused Strategic Workshop, where we lay the groundwork by aligning your vision with practical features and essential project aspects. This session is dedicated to understanding your goals in depth, translating them into a clear set of features, and identifying the key aspects that will define your project's success. Expect a productive blend of strategic planning and detailed feature articulation, ensuring that every element of your project is precisely tailored to meet your objectives and exceed expectations.",
        icon: 'tabler:brand-kickstarter',
      },
      {
        title: 'Step 2: <span class="font-medium">Design, Wireframing, and UI Creation</em>',
        description:
          "With a strategic foundation in place, we progress to transforming these plans into tangible, visual designs. This stage is all about crafting detailed wireframes, developing engaging UI elements, and building interactive prototypes that embody your vision. We'll construct the pages of your product with a keen eye for user experience, ensuring every click and swipe intuitively aligns with user expectations. Through iterative design and your invaluable feedback, we refine and enhance each aspect, from overarching page layouts to the smallest UI details, to not just meet, but surpass your expectations, laying down a robust groundwork for the subsequent development stage.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Product Building &amp; Infrastructure Implementation</span>',
        description:
          "With the designs finalized, our focus shifts to turning the prototypes into a fully functional product. This step is all about development and deployment, where we build the core functionalities of your product and integrate them into a scalable infrastructure. Expect robust, efficient, and scalable solutions tailored to your project's needs.",
        icon: 'tabler:paint',
      },
      {
        title: 'Launch &amp; Optimization',
        description:
          "The culmination of our efforts is the product launch, a carefully orchestrated event designed to introduce your solution to the market. Post-launch, we'll continue to monitor performance and gather user feedback to identify areas for optimization. This ensures that your product is not only well-received but also continues to evolve and improve over time.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1556761175-b413da4baf72?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Steps image',
    }}
  />

  <LetsStart />

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`This is our blog where we share our thoughts, experiences and knowledge. We hope you find it useful.`}
  />
</Layout>
