---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import PricingSection from '~/components/widgets/PricingSection.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Creating new business online"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      We will develop your <span class="text-accent dark:text-white highlight">business idea</span>,<br />
      launch it in <span class="text-accent dark:text-white highlight">90 days</span>
    </Fragment>

    <Fragment slot="subtitle"> Check our packages or hire us ongoing to develop your project </Fragment>
  </Hero>

  <Features3
    title="General terms and conditions"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Price',
        description:
          'We charge in advance for 2 week sprint. The price is fixed and will not change during the project. You are expected to pay ahead of every sprint.',
        icon: 'tabler:premium-rights',
      },
      {
        title: 'Schedule',
        description:
          'We will schedule sprints to happen when you are ready to recieve work. If at any point you are want to stop work or are late with funding, we will stop and then restart can happen when we have slots available.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Start and end',
        description:
          'We will start sprint with planning session (IPM) and finish it with brief retrospective. We will also have a demo of the work done.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Feedback',
        description:
          'During the sprint we will often have partial work or features ready. It is helpful if you can take a look at them and provide feedback as soon as possible. This will help us to adjust the work to your needs.',
        icon: 'tabler:rotate',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- <PricingSection
    id="ongoing-engagement"
    title="Ongoing engagement"
    subtitle="It is hard to estimate needs, if you are comfortable with the idea of hiring us on a week to week basis, we will work with you using same method as we do for our packages. We can build web application or native mobile apps. Every platform requires dedicated specialist but UI can be done for all platforms at the same time."
    url="/start"
    tileColor="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(71, 189, 255, 0.3) 0%, rgba(71, 189, 255, 0) 100%)"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th>Price per Week</th>
      </tr>
      <tr>
        <td>Week of prototyping and UI work</td>
        <td>$3,500</td>
      </tr>
      <tr>
        <td>Week of development</td>
        <td>$6,500</td>
      </tr>
      <tr>
        <td>Week for admin, configuration, maintenance</td>
        <td>$1,500</td>
      </tr>
    </table>
  </PricingSection> -->

  <PricingSection
    id="GDS"
    title="Simple General Development Service"
    subtitle="This service offers general development and administrative support based on client needs. It's ideal when you have various tasks across different skills but don't need them constantly. We'll use a simple Kanban board to manage tasks as they arise and hold regular meetings to discuss priorities and track progress."
    url="/start"
    tileColor="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(71, 189, 255, 0.3) 0%, rgba(71, 189, 255, 0) 100%)"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th class="text-center">Price per Week</th>
      </tr>
      <tr>
        <td>General Development Service (1 task at the time)</td>
        <td class="text-center">$995</td>
      </tr>
      <tr>
        <td>General Development Service (2-3 tasks at the time)</td>
        <td class="text-center">$2,495</td>
      </tr>
      <tr>
        <td>General Development Service full team engagement</td>
        <td class="text-center">$4,000</td>
      </tr>
    </table>
    <h4 class="my-3 font-bold">Example usage:</h4>
    <ul class="list-disc list-outside ml-4">
      <li>
        Core Website and Application Work:
        <ul>
          <li>Prototyping</li>
          <li>UI &amp; design work</li>
          <li>Codebase refactoring</li>
        </ul>
      </li>
      <li>
        Digital Marketing and Growth:
        <ul>
          <li>Marketing Automation</li>
          <li>Landing pages and flows</li>
          <li>Emails and copywriting</li>
        </ul>
      </li>
      <li>
        Search Engine Optimization and Site Maintenance:
        <ul>
          <li>SEO</li>
          <li>Page generation, optimization, review, and update site</li>
        </ul>
      </li>
      <li>
        User Experience and Feedback:
        <ul>
          <li>Tracking and user observation</li>
        </ul>
      </li>
    </ul>
  </PricingSection>

  <Hero
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1664201889896-6a42c19e953a',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title"> Our Packages </Fragment>

    <Fragment slot="subtitle"
      >We've carefully structured week-by-week activities to ensure the timely delivery of everything included in your
      package. Keep in mind that you're investing in our dedicated time, and should you wish to prioritize certain
      features or allocate more time to them, you have the option to extend the project duration by purchasing
      additional weeks.
    </Fragment>
  </Hero>

  <PricingSection
    id="MVP"
    title="MVP in 90 days"
    subtitle="We will follow our process as outlined in The Method to develop your MVP. We will launch it in 90 days and continue to tweak and work on it for another 30 days post launch."
    offer="/offer-mvp"
    url="/start"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th>Price per Week</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>4 weeks of prototyping and UI work</td>
        <td>$3,500</td>
        <td>$14K</td>
      </tr>
      <tr>
        <td>6 weeks of development</td>
        <td>$6,500</td>
        <td>$39K</td>
      </tr>
      <tr>
        <td>4 weeks for launch and optimizing</td>
        <td>$1,200</td>
        <td>$4,8K</td>
      </tr>
      <tr>
        <td colspan="2"><strong>Total</strong></td>
        <td><strong>$58K</strong></td>
      </tr>
      <tr class="h-8 text-xl">
        <td colspan="2"><strong>Package discount</strong></td>
        <td><strong>$45K</strong></td>
      </tr>
    </table>
  </PricingSection>

  <!-- <PricingSection
    id="Micro-Saas"
    title="Micro Saas in 4 weeks"
    subtitle="If you need simpler app, with one feature, we will follow our process as outlined in The Method to develop your Micro-Saas in 6 weeks."
    url="/start"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th>Price per Week</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>A week of prototyping and UI work</td>
        <td>$3,500</td>
        <td>$3,500</td>
      </tr>
      <tr>
        <td>2 weeks of development</td>
        <td>$6,500</td>
        <td>$13,000</td>
      </tr>
      <tr>
        <td>1 weeks for launch and optimizing</td>
        <td>$1,500</td>
        <td>$1,500</td>
      </tr>
      <tr>
        <td colspan="2"><strong>Total</strong></td>
        <td><strong>$18,000</strong></td>
      </tr>
      <tr class="h-8 text-xl">
        <td colspan="2"><strong>Package discount</strong></td>
        <td><strong>$15,000</strong></td>
      </tr>
    </table>
  </PricingSection> -->

  <!-- <PricingSection
    id="Website"
    title="Company Website in 6 weeks"
    subtitle="We will follow our process as outlined in The Method to develop your website in 6 weeks."
    url="/start"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th>Price per Week</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>4 weeks of prototyping and UI work</td>
        <td>$3,500</td>
        <td>$14,000</td>
      </tr>
      <tr>
        <td>2 weeks for launch and optimizing</td>
        <td>$1,500</td>
        <td>$3,000</td>
      </tr>
      <tr>
        <td colspan="2"><strong>Total</strong></td>
        <td><strong>$17,000</strong></td>
      </tr>
      <tr class="h-8 text-xl">
        <td colspan="2"><strong>Package discount</strong></td>
        <td><strong>$15,000</strong></td>
      </tr>
    </table>
  </PricingSection> -->

  <!-- <PricingSection
    id="FULL"
    title="App in 90 days -> all hands on deck"
    subtitle="You will have a team with undivided attention and focused work for 90 days in which we can build fully functional app. Web or native mobile app or both."
    url="/start"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th>Price per Week</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>12 weeks of prototyping and UI work</td>
        <td>$3,500</td>
        <td>xx</td>
      </tr>
      <tr>
        <td>12 weeks of development</td>
        <td>$6,500</td>
        <td>xx</td>
      </tr>
      <tr>
        <td>12 weeks for launch and optimizing</td>
        <td>$1,500</td>
        <td>xx</td>
      </tr>
      <tr>
        <td>Project management and business support</td>
        <td>xx</td>
        <td>xx</td>
      </tr>
      <tr class="h-8 text-xl">
        <td colspan="2"><strong>Package price</strong></td>
        <td><strong>$120K</strong></td>
      </tr>
    </table>
  </PricingSection> -->

  <!-- <Features3
    id="workshops"
    title="Weekly workshops"
    subtitle="Free perk"
    columns={2}
    items={[
      {
        title: 'Marketing Strategy',
        description:
          'We will examine current marketing strategy and suggest improvements. We will also help you to create a new one if you do not have it yet.',
        icon: 'tabler:clock',
      },
      {
        title: 'User Journey',
        description:
          'A customer journey map is a visual representation of every experience your customers have with you. It helps to tell the story of a customer’s experience with your brand from original engagement and into a long-term relationship.',
        icon: 'tabler:clock',
      },
      {
        title: 'Funnel Optimization',
        description: 'Real-time analytics is the discipline that applies logic and mathematics to data...',
        icon: 'tabler:clock',
      },
      {
        title: 'Alternate Universe',
        description:
          'Imagine that we are different company, or that we are in different market. What would we do then? This is a fun exercise to help us think outside the box.',
        icon: 'tabler:clock',
      },
      {
        title: 'Retrospective',
        description:
          'We will start sprint with planning session (IPM) and finish it with brief retrospective. We will also have a demo of the work done. This is regular workshop to help us improve our work.',
        icon: 'tabler:clock',
      },
      {
        title: 'Roadmap review',
        description:
          'What we planned and how things are going. This is a regular workshop to help us stay on track and adjust our plans as needed.',
        icon: 'tabler:clock',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  /> -->
  <Hero2
    tagline="Let's start"
    actions={[{ variant: 'primary', text: 'Get Started', href: '/start' }]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1661929257183-4b5850e31d5e',
      alt: 'Jump into unknown',
    }}
  >
    <Fragment slot="title">
      <small> Let's start you on your journey. </small>
    </Fragment>

    <Fragment slot="subtitle"> Create the Future with AI and Tech </Fragment>
  </Hero2>
</Layout>
