---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import PricingSection from '~/components/widgets/PricingSection.astro';
import Layout from '~/layouts/PageLayout.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';
import PaymentWidget from '~/components/widgets/PaymentWidget.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Creating new business online"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      We will develop your <span class="text-accent dark:text-white highlight">business idea</span>,<br />
      launch it in <span class="text-accent dark:text-white highlight">90 days</span>
    </Fragment>

    <Fragment slot="subtitle"> Check our packages or hire us ongoing to develop your project </Fragment>
  </Hero>

  <Features3
    title="General terms and conditions"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Price',
        description:
          'We charge in advance for 2 week sprint. The price is fixed and will not change during the project. You are expected to pay ahead of every sprint.',
        icon: 'tabler:premium-rights',
      },
      {
        title: 'Schedule',
        description:
          'We will schedule sprints to happen when you are ready to recieve work. If at any point you are want to stop work or are late with funding, we will stop and then restart can happen when we have slots available.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Start and end',
        description:
          'We will start sprint with planning session (IPM) and finish it with brief retrospective. We will also demo of the work done.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Feedback',
        description:
          'During the sprint we will often have partial work or features ready. It is helpful if you can take a look at them and provide feedback as soon as possible. This will help us to adjust the work to your needs.',
        icon: 'tabler:rotate',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  <PaymentWidget
    title="General Dev Service"
    description="Full service agency at your disposal, design, UX, development, marketing, SEO, and more. Ideal for ongoing projects and continuous development. Feed the backlog and see the progress."
    items={[
      {
        name: 'Simple focus (S)',
        description:
          'Ideal for small projects or quick fixes. We will work on single task at the time. Perfect for casual MVP development, bug fixes, or adding small features to existing projects.',
        url: '/start',
        payment: '$995 per week',
      },
      {
        name: 'Regular Engagement (M)',
        description:
          'Perfect for MVP development, smaller projects that have demands for design and code. Two weeks of focused development to create more complex features, refine your product, or tackle multiple small projects. Suitable for building robust applications, implementing advanced functionality, or conducting thorough code reviews and optimizations.',
        url: '/start',
        payment: '$2450 per weeks',
      },
      {
        name: 'Dev team focus (dev pair) (L)',
        description:
          'Comprehensive development package for larger projects. Full team dedicated to work to create something amazing, from concept to deployment, with thorough testing and refinement. Ideal for building complex web applications, developing custom software solutions, or undertaking major platform migrations with extensive testing and documentation.',
        url: '/start',
        payment: '$4000 per week',
      },
      {
        name: 'Full team, full time (dev pair) (XL)',
        description:
          'Comprehensive development package for larger projects. Full team dedicated to work to create something amazing, from concept to deployment, with thorough testing and refinement. Ideal for building complex web applications, developing custom software solutions, or undertaking major platform migrations with extensive testing and documentation.',
        url: '/start',
        payment: '$8000 per week',
      },
    ]}
    usage={[
      'Build a responsive website',
      'Develop a custom e-commerce solution',
      'Create a mobile app prototype',
      'Implement a content management system',
      'Optimize website performance',
      'Integrate third-party APIs',
    ]}
  />

  <PricingSection
    id="MVP"
    title="Code & Coaching - MVP in 90 days"
    subtitle="Me and my team will work with you to define and refine your idea into succesful product. We will follow our process as outlined in The Method to develop your MVP. We will launch it in 60 days and continue to tweak and work on it for another 30 days post launch."
    offer="/offer-mvp"
    url="/start"
  >
    <table class="w-full">
      <tr>
        <th>Weeks</th>
        <th>Price per Week</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>4 weeks of prototyping, UI and design</td>
        <td>$3,500</td>
        <td>$14K</td>
      </tr>
      <tr>
        <td>6 weeks of development (pair of developers)</td>
        <td>$6,500</td>
        <td>$39K</td>
      </tr>
      <tr>
        <td>4 weeks for launch and optimizing</td>
        <td>$1,200</td>
        <td>$4,8K</td>
      </tr>
      <tr>
        <td>8 planned workshops (+ as many ad-hoc as we need)</td>
        <td>$650</td>
        <td>$5,2K</td>
      </tr>
      <tr>
        <td colspan="2"><strong>Total</strong></td>
        <td><strong>$63,2K</strong></td>
      </tr>
      <tr class="h-8 text-xl">
        <td colspan="2"><strong>Package price</strong></td>
        <td><strong>$49.5K</strong></td>
      </tr>
    </table>
  </PricingSection>

  <PricingSection id="JTC" title="Techical Advisory Coaching" url="/start" offer="advisory">
    <Fragment slot="explain">
      <section class="bg-gray-50 p-6 rounded-lg shadow-lg max-w-3xl">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">For CTOs, Tech Leads, and Technologists</h2>
        <p class="text-lg text-gray-700 mb-4">
          You don’t need more code; you need strategic advice and clear direction. With biweekly strategy sessions and
          on demand workshops, I’ll be your active advisor and mentor helping you navigate business, technology, and
          personal challenges. We’ll discuss your project’s architecture, your team, and your tech strategy in a way
          that tackles both high-level decisions and day-to-day obstacles.
        </p>

        <p class="text-lg text-gray-700 mb-4">
          If you’re feeling stuck or overwhelmed, these sessions will give you the clarity and support needed to move
          forward with confidence. As an action coach, I focus on overcoming roadblocks, simplifying complex processes,
          and driving results. Together, we’ll ensure you have more time, reduce stress, and increase productivity—so
          you can focus on what really matters: leading and delivering with impact.
        </p>
      </section>
    </Fragment>

    <table class="w-full">
      <tr>
        <td class="text-xl font-bold">Monthly</td>
        <td class="text-xl font-bold">$2,000/mo</td>
      </tr>
    </table>
  </PricingSection>

  <PricingSection id="AI" title="AI training for techies" url="/start">
    <Fragment slot="explain">
      <section class="bg-gray-50 p-6 rounded-lg shadow-lg max-w-3xl">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">AI training for codership and leadership</h2>
        <p class="text-lg text-gray-700 mb-4">
          This is new offering that we are developing. We want to provide organizations a structured and clear way how
          to approach applying AI in development.
        </p>

        <p class="text-lg text-gray-700 mb-4">
          At the moment we are thinking about 3 weeks of training with 3-4 workshops per week. The training will be
          structured in a way that you will learn how to apply AI in your projects and how to lead AI projects. You will
          use AI to develop requirements, create prototypes, produce design system, create application structure and
          logic, you will write code and tests with AI, create database models, and finally AI will also help you
          organize and plan deployment.
        </p>

        <p class="text-lg text-gray-700 mb-4">
          It is meant for lead developers and product owners and other senior roles in the organization.
        </p>
      </section>
    </Fragment>
  </PricingSection>

  <LetsStart />
</Layout>
