---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import PricingSection from '~/components/widgets/PricingSection.astro';
import Layout from '~/layouts/PageLayout.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';
import PaymentWidget from '~/components/widgets/PaymentWidget.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Image from '~/components/common/Image.astro';
import techWeLove from '~/assets/images/tech-we-love.png';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Transforming Your Business Online"
    image={{
      src: '~/assets/images/guy-leaning-on-desk-at-work.png',
      alt: 'Business Transformation Image',
    }}
  >
    <Fragment slot="title">
      Bring your <span class="text-accent dark:text-white highlight">business idea</span> to life,<br />
      launch it in just <span class="text-accent dark:text-white highlight">90 days</span>
    </Fragment>

    <Fragment slot="subtitle">
      Explore our packages or hire us for ongoing development to bring your project to fruition.
    </Fragment>
  </Hero>

  <!-- Development Packages ******************* -->
  <section id="development-packages">
    <PaymentWidget
      title="Comprehensive Development Services"
      description="Our full-service agency offers design, UX, development, marketing, SEO, and more. Ideal for ongoing projects and continuous development. Feed the backlog and watch your project progress."
      items={[
        {
          title: 'Essential Care (S)',
          subtitle: 'Your Peace of Mind',
          description:
            'Keep your project running smoothly and growing with our Essential Care service. We handle proactive maintenance, fast bug fixes, small feature upgrades, and offer optional monthly Brainstorming & Clarity Workshops to keep your ideas fresh and your project moving forward. With a dedicated support contact, regular progress updates, and quick response times, you will have the peace of mind that everything is under control - so you can focus on what matters most.',
          url: '/start',
          payment: '$3950/month',
        },
        {
          title: 'Developer (M)',
          subtitle: 'Agile Development',
          description:
            'Kickstart your new project with the power of dedicated developer paired with AI working to deliver results quickly and efficiently. Our service is perfect for building MVPs, developing core features, and integrating third-party services. Get more features built, see faster progress, and maintain the momentum needed to bring your project to life.',
          url: '/start',
          payment: '$2450 per week ($4900 per Sprint)',
        },
        {
          title: 'Core Build Team (L)',
          subtitle: 'Your Dedicated Dream Team',
          description:
            'Scale your project with a dedicated team of developers and strategists focused on delivering high-quality, scalable solutions. Perfect for startups and growing businesses, the Core Build Team handles everything from core feature development and design systems to comprehensive documentation and regular progress updates. Stay aligned with weekly video summaries and transparent communication every step of the way.',
          url: '/start',
          payment: '$4950 per week ($9,900 per Sprint)',
        },
        {
          title: 'Marketing Automation & Content',
          subtitle: 'Your Growth Engine',
          description:
            'Boost your online presence with a complete marketing automation system for LinkedIn, Instagram, and Facebook, Youtube and Tiktok are totally fine as well. The Marketing Automation & Content plan includes content creation, funnel setup, landing pages, and email sequences to keep your audience engaged. With everything running on autopilot, you can focus on growth while we handle the rest.',
          url: '/start',
          payment: '$1500(M)/$2500(L) per month ($1500 setup)',
        },
      ]}
      usage={[]}
    />
  </section>

  <!-- General Terms and Conditions ******************* -->
  <Features3
    id="terms"
    title="General Terms and Conditions"
    subtitle="Experience the Benefits of Our Plans"
    columns={2}
    items={[
      {
        title: 'Transparent Pricing',
        description:
          'We charge in advance for each 2-week sprint. The price is fixed and will not change during the project. Payments are required ahead of each sprint.',
        icon: 'tabler:premium-rights',
      },
      {
        title: 'Flexible Scheduling',
        description:
          'We schedule sprints based on your readiness to receive work. If you need to pause or delay funding, we will resume when slots are available.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Structured Process',
        description:
          'Each sprint begins with a planning session (IPM) and concludes with a brief retrospective and a demo of the completed work.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Continuous Feedback',
        description:
          'We value your feedback on partial work or features during the sprint. Timely feedback helps us adjust and align the work with your needs.',
        icon: 'tabler:rotate',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- MVP Development ******************* -->
  <section id="mvp-development">
    <PricingSection
      id="MVP"
      title="Code & Mentoring - MVP in 90 Days"
      subtitle="Transform your idea into a successful product with our comprehensive MVP development program. Our team will guide you through every step, from initial concept to post-launch optimization."
      url="/start"
    >
      <table class="w-full">
        <tr class="h-8 text-xl">
          <td colspan="2"><strong>Package Price</strong></td>
          <td><strong>$60.0K</strong></td>
        </tr>
      </table>
      <p class="text-lg text-gray-700 mt-4">
        Our MVP program is structured over 12 weeks to ensure comprehensive development and successful launch. Focus is
        to create an MVP with 1 to 2 core features supported by common features of all apps, users, payments etc. Here’s
        a breakdown of the program:
      </p>
      <ul class="list-disc list-inside text-lg text-gray-700 mt-4">
        <li>
          <strong>Week 1:</strong> Clarifying Vision - Define the project goals, target audience, and key features.
        </li>
        <li>
          <strong>Week 2-3:</strong> Design, UX, and Prototyping - Create initial wireframes and prototypes to visualize
          the product.
        </li>
        <li><strong>Week 3-9:</strong> Development - Begin coding and building the core features of the MVP.</li>
        <li>
          <strong>Week 9-10:</strong> Testing - Conduct thorough testing to identify and fix bugs and ensure functionality.
        </li>
        <li>
          <strong>Week 11:</strong> Pre-Launch - Prepare for launch, including final adjustments and marketing strategies.
        </li>
        <li>
          <strong>Week 12:</strong> Launch and Post-Launch Support - Launch the MVP and provide ongoing support and optimization.
        </li>
      </ul>
      <p class="text-lg text-gray-700 mt-4">
        <strong>Client:</strong> "<i
          >What truly set this team apart was their incredible communication and collaborative approach. They didn’t
          just develop our MVP; they worked alongside us, transforming our concept with incredible insight and
          responsiveness. In just 90 days, they turned our startup vision into a pretty awesome app.</i
        >" - Radhika Sharma, CEO, InnovateNow
      </p>
    </PricingSection>
  </section>

  <PricingSection id="AI" title="AI Training for Techies" url="/start">
    <Fragment slot="explain">
      <p class="text-lg text-gray-700 mb-4">
        We are excited to offer a new training program designed to help organizations apply AI in development. This
        structured and clear approach will guide you through the process of integrating AI into your projects.
      </p>

      <p class="text-lg text-gray-700 mb-4">
        The training spans 3 weeks, with 3-4 workshops per week. You will learn how to apply AI in your projects and
        lead AI initiatives. The curriculum covers developing requirements, creating prototypes, producing design
        systems, structuring applications, writing code and tests, creating database models, and planning
        deployments—all with the help of AI.
      </p>

      <p class="text-lg text-gray-700 mb-4">
        This program is ideal for lead developers, product owners, and other senior roles within your organization.
      </p>
      <p class="text-lg text-gray-700 mt-4">
        <strong>Testimonial:</strong> "The AI training program was a game-changer for our team. We walked away with two critical
        skills that have transformed our workflow: AI-powered code generation, which cuts our development time by 30%, and
        intelligent debugging tools that help us catch and resolve issues much faster. It wasn’t just training—it was a practical
        roadmap for integrating AI into our development process. We learned a lot while enjoying every moment." - Michael
        Harris, Product Owner at Stealth Startup
      </p>
    </Fragment>
  </PricingSection>

  <!-- Technical Coaching ******************* -->
  <!-- <section id="technical-coaching">
    <PricingSection id="JTC" title="Technical Advisory Coaching" url="/start" offer="advisory">
      <Fragment slot="explain">
        <section class="bg-gray-50 p-6 rounded-lg shadow-lg max-w-3xl">
          <h2 class="text-2xl font-bold text-gray-800 mb-4">For CTOs, Tech Leads, and Technologists</h2>
          <p class="text-lg text-gray-700 mb-4">
            You don’t need more code; you need strategic advice and clear direction. With biweekly strategy sessions and
            on-demand workshops, I’ll be your active advisor and mentor, helping you navigate business, technology, and
            personal challenges. We’ll discuss your project’s architecture, your team, and your tech strategy to tackle
            both high-level decisions and day-to-day obstacles.
          </p>

          <p class="text-lg text-gray-700 mb-4">
            If you’re feeling stuck or overwhelmed, these sessions will provide the clarity and support needed to move
            forward with confidence. As an action coach, I focus on overcoming roadblocks, simplifying complex
            processes, and driving results. Together, we’ll ensure you have more time, reduced stress, and increased
            productivity—so you can focus on what really matters: leading and delivering with impact.
          </p>
        </section>
      </Fragment>

      <table class="w-full">
        <tr>
          <td class="text-xl font-bold">Monthly</td>
          <td class="text-xl font-bold">$2,000/mo</td>
        </tr>
      </table>
    </PricingSection>
  </section> -->

  <div class="flex items-center justify-center md:py-20 max-w-5xl mx-auto">
    <Image src={techWeLove} alt="Tech We Love" />
  </div>

  <LetsStart />

  <BlogLatestPosts
    id="blog"
    title="What does the blog say?"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and how Augmented Developers can help you do more and make better projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
