---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import PricingSection from '~/components/widgets/PricingSection.astro';
import Layout from '~/layouts/PageLayout.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';
import PaymentWidget from '~/components/widgets/PaymentWidget.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Image from '~/components/common/Image.astro';
import techWeLove from '~/assets/images/tech-we-love.png';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Transform Your Business Online"
    image={{
      src: '~/assets/images/guy-leaning-on-desk-at-work.png',
      alt: 'Business Transformation Image',
    }}
  >
    <Fragment slot="title">
      Launch <span class="text-accent">Your Digital Product</span><br />
      in 10 Weeks
    </Fragment>

    <Fragment slot="subtitle">
      Explore our packages or hire us for continuous product development to bring your project to fruition.
    </Fragment>
  </Hero>

  <!-- Development Packages ******************* -->
  <section id="development-packages">
    <PaymentWidget
      title="Comprehensive Development Services"
      description="Our full-service agency offers comprehensive product development solutions, specializing in creating new hyper-fast and efficient solutions as well as continuous development. We provide design, UX/UI, development, marketing, and SEO services, ensuring your product evolves and scales. Our team of experienced professionals focuses on delivering results and driving growth."
      items={[
        {
          title: 'Product Developer - Agile Sprint',
          subtitle: 'Rapid Product Iteration',
          description:
            'Accelerate your product development with a dedicated product developer, enhanced by AI-powered tools, working in rapid two-week sprints. Ideal for building MVPs, developing core features, and seamlessly integrating third-party services, our approach delivers faster results and maintains project momentum. Our developers leverage AI assistance for tasks like code optimization, automated testing, and rapid prototyping, allowing them to focus on complex development challenges and deliver high-quality, efficient code.',
          url: '/start',
          payment: '$6450 per Sprint ($3,225/wk)',
        },
        {
          title: 'Core Product Team - Agile Sprint',
          subtitle: 'Your Dedicated Feature Team',
          description:
            "Accelerate your product's growth with a dedicated team of experienced product developers and strategic product managers. Designed for startups and scaling businesses, our team delivers high-quality, scalable solutions, handling everything from core feature development and robust design systems to comprehensive technical documentation. We ensure complete alignment and transparency with weekly video progress summaries and consistent communication throughout each two-week sprint.",
          url: '/start',
          payment: '$11,950 per Sprint ($5,975/wk)',
        },
        {
          title: 'Essential Care (S)',
          subtitle: 'Your Peace of Mind',
          description:
            "Maintain your project's momentum and growth with our Essential Care service. Our team of experienced product engineers provides proactive maintenance, expert bug resolution, and efficient small feature upgrades. We also offer optional monthly Strategic Clarity Workshops, led by our senior engineers, to refine your ideas and drive your project forward. Enjoy the peace of mind that comes with a dedicated support contact, regular progress updates, and rapid response times – allowing you to focus on your core business.",
          url: '/start',
          payment: '$3950/month',
        },
        {
          title: 'Strategic Techical advisor for CTOs (A)',
          subtitle: "You don't have to go alone",
          description:
            'Scaling a startup or growing a small corporation is incredibly demanding. As CTO, you’re responsible for the technology vision, team leadership, and navigating the complex landscape of innovation. But you don’t have to do it alone. I bring 20+ years of experience in senior technology leadership roles to provide fractional CTO guidance, helping you avoid common pitfalls and accelerate your growth.',
          url: '/start',
          payment: '$6950/month',
        },
      ]}
      usage={[]}
    />
  </section>

  <!-- Marketing Packages ******************* -->
  <section id="marketing-packages">
    <PaymentWidget
      title="Marketing Automation Services"
      description="Our full-service agency offers comprehensive product development solutions, specializing in creating new hyper-fast and efficient solutions as well as continuous development. We provide design, UX/UI, development, marketing, and SEO services, ensuring your product evolves and scales. Our team of experienced professionals focuses on delivering results and driving growth."
      items={[
        {
          title: 'Marketing Launchpad',
          subtitle: 'Essential setup & content for initial growth.',
          description:
            'Establish a strong online foundation with our Marketing Launchpad. This plan delivers expert platform setup across LinkedIn, Instagram, and Facebook, alongside targeted content strategy including article creation and basic SEO optimization. We focus on creating a consistent brand voice and generating early-stage engagement to rapidly build your initial digital presence.',
          url: '/start',
          payment: '$2200 per month + $1200 setup fee',
        },
        {
          title: 'Marketing Growth Engine',
          subtitle: 'Advanced strategy & automation for scaling.',
          description:
            'Maximize your online growth with our Marketing Growth Engine. This comprehensive plan includes advanced marketing automation across LinkedIn, YouTube, Instagram, and Facebook, sophisticated content strategy with SEO optimization, high-conversion funnel optimization, premium landing page design, and personalized email sequence campaigns. Our team of seasoned marketing strategists will craft and execute data-driven campaigns to significantly boost your ROI and expand your reach.',
          url: '/start',
          payment: '$3500 per month + $1500 setup fee',
        },
      ]}
      usage={[]}
    />
  </section>
  <!-- General Terms and Conditions ******************* -->
  <Features3
    id="terms"
    title="General Terms and Conditions"
    subtitle="Experience the Benefits of Our Plans"
    columns={2}
    items={[
      {
        title: 'Transparent Pricing',
        description:
          'We charge in advance for each 2-week sprint. The price is fixed and will not change during the project. Payments are required ahead of each sprint.',
        icon: 'tabler:premium-rights',
      },
      {
        title: 'Flexible Scheduling',
        description:
          'We schedule sprints based on your readiness to receive work. If you need to pause or delay funding, we will resume when slots are available.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Structured Process',
        description:
          'Each sprint begins with a planning session (IPM) and concludes with a brief retrospective and a demo of the completed work.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Continuous Feedback',
        description:
          'We value your feedback on partial work or features during the sprint. Timely feedback helps us adjust and align the work with your needs.',
        icon: 'tabler:rotate',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- MVP Development ******************* -->
  <section id="mvp-development">
    <PricingSection
      id="MVP"
      title="10 Week MVP Accelerator - Code & Strategic Mentorship"
      subtitle="Launch Your Startup with a Market-Ready MVP"
      url="/start"
    >
      <table class="w-full">
        <tr class="h-8 text-xl">
          <td colspan="2"><strong>Package Price</strong></td>
          <td><strong>$60.0K</strong></td>
        </tr>
      </table>
      <p class="text-lg text-gray-700 mt-4">
        Accelerate your startup launch with our 10-week MVP Sprint. We deliver an MVP, with one foundational feature and
        essential app functionalities, through a streamlined development and mentorship program. Our team of experienced
        developers and product advisors will guide you from concept to launch, ensuring rapid progress and a
        market-ready product.
      </p>
      <ul class="list-disc list-inside text-lg text-gray-700 mt-4">
        <li>
          <strong>Week 1-2: Vision, Design, & Prototyping</strong> Define project vision, key features, streamlined UX/UI
          design, and rapid prototyping.
        </li>
        <li>
          <strong>Week 3-4: Foundational Feature Development</strong> Development of the core, foundational feature.
        </li>
        <li>
          <strong>Week 5-8: Essential Features Development</strong> Development of the remaining essential app functionalities.
        </li>
        <li>
          <strong>Week 9: Testing & QA</strong> Testing - Conduct thorough testing to identify and fix bugs and ensure functionality.
        </li>
        <li>
          <strong>Week 10: MVP Launch & Support</strong> Launch your MVP and provide post-launch support.
        </li>
      </ul>
      <p class="text-lg text-gray-700 mt-4">
        <strong>Client:</strong> "<i
          >In just 10 weeks, they transformed our concept into a functional MVP. The streamlined mentorship and
          efficient development, with a strong focus on initial design, were crucial for our rapid launch.</i
        >" - Radhika Sharma, CEO, InnovateNow
      </p>
    </PricingSection>
  </section>

  <div class="flex items-center justify-center md:py-20 max-w-5xl mx-auto">
    <Image src={techWeLove} alt="Tech We Love" />
  </div>

  <LetsStart />

  <BlogLatestPosts
    id="blog"
    title="What does the blog say?"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and how Augmented Developers can help you do more and make better projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
