---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import PricingSection from '~/components/widgets/PricingSection.astro';
import Layout from '~/layouts/PageLayout.astro';
import LetsStart from '~/components/widgets/LetsStart.astro';
import PaymentWidget from '~/components/widgets/PaymentWidget.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Transforming Your Business Online"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd',
      alt: 'Business Transformation Image',
    }}
  >
    <Fragment slot="title">
      Bring your <span class="text-accent dark:text-white highlight">business idea</span> to life,<br />
      launch it in just <span class="text-accent dark:text-white highlight">90 days</span>
    </Fragment>

    <Fragment slot="subtitle">
      Explore our packages or hire us for ongoing development to bring your project to fruition.
    </Fragment>
  </Hero>

  <!-- Navigation Section ******************* -->
  <nav class="my-8">
    <ul class="flex justify-center space-x-4">
      <li><a href="#terms" class="text-accent dark:text-white">Terms</a></li>
      <li><a href="#development-packages" class="text-accent dark:text-white">Development Packages</a></li>
      <li><a href="#mvp-development" class="text-accent dark:text-white">MVP Development</a></li>
      <li><a href="#technical-coaching" class="text-accent dark:text-white">Technical Coaching</a></li>
    </ul>
  </nav>

  <!-- General Terms and Conditions ******************* -->
  <Features3
    id="terms"
    title="General Terms and Conditions"
    subtitle="Experience the Benefits of Our Plans"
    columns={2}
    items={[
      {
        title: 'Transparent Pricing',
        description:
          'We charge in advance for each 2-week sprint. The price is fixed and will not change during the project. Payments are required ahead of each sprint.',
        icon: 'tabler:premium-rights',
      },
      {
        title: 'Flexible Scheduling',
        description:
          'We schedule sprints based on your readiness to receive work. If you need to pause or delay funding, we will resume when slots are available.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Structured Process',
        description:
          'Each sprint begins with a planning session (IPM) and concludes with a brief retrospective and a demo of the completed work.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Continuous Feedback',
        description:
          'We value your feedback on partial work or features during the sprint. Timely feedback helps us adjust and align the work with your needs.',
        icon: 'tabler:rotate',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />
  <!-- Development Packages ******************* -->
  <section id="development-packages">
    <PaymentWidget
      title="Comprehensive Development Services"
      description="Our full-service agency offers design, UX, development, marketing, SEO, and more. Ideal for ongoing projects and continuous development. Feed the backlog and watch your project progress."
      items={[
        {
          name: 'Essential Care (S)',
          description:
            'Reliable ongoing support for maintenance, updates, and small-scale tasks. Ideal for keeping your project running smoothly and updated with the latest needs.',
          url: '/start',
          payment: '$995 per week',
        },
        {
          name: 'Pair Dev (M)',
          description:
            'A focused two-person team for MVP creation and small-scale projects, delivering design and development expertise in a compact, agile package.',
          url: '/start',
          payment: '$2450 per week',
        },
        {
          name: 'Core Build Team (L)',
          description:
            'A dedicated team of developers and strategists collaborating to deliver high-quality, scalable solutions for medium to large projects. Perfect for startups and businesses ready to scale.',
          url: '/start',
          payment: '$4000 per week',
        },
        {
          name: 'Full-Scale Execution (XL)',
          description:
            'Comprehensive full-time team engagement for complex, high-stakes projects requiring end-to-end development, robust testing, and ongoing refinement.',
          url: '/start',
          payment: '$8000 per week',
        },
      ]}
      items={[
        {
          name: 'Simple Focus (S)',
          description:
            'Perfect for small projects or quick fixes. We focus on one task at a time, ideal for casual MVP development, bug fixes, or adding small features to existing projects. Deliverables include regular updates to ensure transparency and progress tracking.',
          url: '/start',
          payment: '$995 per week',
        },
        {
          name: 'Regular Engagement (M)',
          description:
            'Ideal for MVP development and smaller projects requiring design and code. Two weeks of focused development to create complex features, refine your product, or tackle multiple small projects. Deliverables include comprehensive design documents, code reviews, visual change reports and bi-weekly progress meetings.',
          url: '/start',
          payment: '$2450 per week',
        },
        {
          name: 'Dev Team Focus (L)',
          description:
            'A comprehensive package for larger projects. A full team dedicated to creating something amazing, from concept to deployment, with thorough testing and refinement. Deliverables include full project documentation, extensive testing reports, visual change reports and weekly progress demos.',
          url: '/start',
          payment: '$4000 per week',
        },
        {
          name: 'Full Team, Full Time (XL)',
          description:
            'Our most extensive package for large-scale projects. A full team working full-time to deliver exceptional results, from concept to deployment, with extensive testing and documentation. Deliverables include complete project lifecycle management, detailed testing and QA reports, and daily progress updates.',
          url: '/start',
          payment: '$8000 per week',
        },
      ]}
      usage={[
        'Build a responsive website',
        'Develop a custom e-commerce solution',
        'Create a mobile app prototype',
        'Implement a content management system',
        'Optimize website performance',
        'Integrate third-party APIs',
      ]}
    />
  </section>

  <!-- MVP Development ******************* -->
  <section id="mvp-development">
    <PricingSection
      id="MVP"
      title="Code & Coaching - MVP in 90 Days"
      subtitle="Transform your idea into a successful product with our comprehensive MVP development program. Our team will guide you through every step, from initial concept to post-launch optimization."
      offer="/offer-mvp"
      url="/start"
    >
      <table class="w-full">
        <tr class="h-8 text-xl">
          <td colspan="2"><strong>Package Price</strong></td>
          <td><strong>$45.0K</strong></td>
        </tr>
      </table>
      <p class="text-lg text-gray-700 mt-4">
        Our MVP program includes detailed planning sessions, regular progress updates, and post-launch support to ensure
        your product's success. You will receive a collaborative approach with clear milestones and deliverables at each
        stage, ensuring transparency and alignment with your vision.
      </p>
      <p class="text-lg text-gray-700 mt-4">
        <strong>Client Testimonial:</strong> "Working with this team was a game-changer for our startup. They helped us turn
        our idea into a fully functional MVP in less then 90 days. The process was smooth, and their expertise was invaluable."
        - Jane Doherty, CEO of Stealth Startup
      </p>
    </PricingSection>
  </section>

  <!-- Technical Coaching ******************* -->
  <!-- <section id="technical-coaching">
    <PricingSection id="JTC" title="Technical Advisory Coaching" url="/start" offer="advisory">
      <Fragment slot="explain">
        <section class="bg-gray-50 p-6 rounded-lg shadow-lg max-w-3xl">
          <h2 class="text-2xl font-bold text-gray-800 mb-4">For CTOs, Tech Leads, and Technologists</h2>
          <p class="text-lg text-gray-700 mb-4">
            You don’t need more code; you need strategic advice and clear direction. With biweekly strategy sessions and
            on-demand workshops, I’ll be your active advisor and mentor, helping you navigate business, technology, and
            personal challenges. We’ll discuss your project’s architecture, your team, and your tech strategy to tackle
            both high-level decisions and day-to-day obstacles.
          </p>

          <p class="text-lg text-gray-700 mb-4">
            If you’re feeling stuck or overwhelmed, these sessions will provide the clarity and support needed to move
            forward with confidence. As an action coach, I focus on overcoming roadblocks, simplifying complex
            processes, and driving results. Together, we’ll ensure you have more time, reduced stress, and increased
            productivity—so you can focus on what really matters: leading and delivering with impact.
          </p>
        </section>
      </Fragment>

      <table class="w-full">
        <tr>
          <td class="text-xl font-bold">Monthly</td>
          <td class="text-xl font-bold">$2,000/mo</td>
        </tr>
      </table>
    </PricingSection>

    <PricingSection id="AI" title="AI Training for Techies" url="/start">
      <Fragment slot="explain">
        <section class="bg-gray-50 p-6 rounded-lg shadow-lg max-w-3xl">
          <h2 class="text-2xl font-bold text-gray-800 mb-4">AI Training for Codership and Leadership</h2>
          <p class="text-lg text-gray-700 mb-4">
            We are excited to offer a new training program designed to help organizations apply AI in development. This
            structured and clear approach will guide you through the process of integrating AI into your projects.
          </p>

          <p class="text-lg text-gray-700 mb-4">
            The training spans 3 weeks, with 3-4 workshops per week. You will learn how to apply AI in your projects and
            lead AI initiatives. The curriculum covers developing requirements, creating prototypes, producing design
            systems, structuring applications, writing code and tests, creating database models, and planning
            deployments—all with the help of AI.
          </p>

          <p class="text-lg text-gray-700 mb-4">
            This program is ideal for lead developers, product owners, and other senior roles within your organization.
          </p>
          <p class="text-lg text-gray-700 mt-4">
            <strong>Client Testimonial:</strong> "The AI training program was incredibly insightful. It provided our team
            with the knowledge and tools needed to effectively integrate AI into our development processes." - Sarah Lee,
            Product Owner at InnovateTech
          </p>
        </section>
      </Fragment>
    </PricingSection>
  </section> -->
  <LetsStart />
</Layout>
