---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Start',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Start"
    image={{
      src: '~/assets/images/planning-projects.png',
      alt: 'Two laptops and hands',
    }}
  >
    <Fragment slot="title"> Let's start working together </Fragment>

    <Fragment slot="subtitle">
      Starting on your project or examining your ideas is simple. We need to understand your needs and goals. We will
      help you to define the best strategy and the best way to achieve your goals. But all starts with a call.
    </Fragment>
  </Hero>

  <Hero tagline="Schedule a call">
    <Fragment slot="title">
      Book a call to get started
      <!-- We are on vacation,<br /> check back in few weeks! -->
    </Fragment>

    <Fragment slot="subtitle">
      <div class="tidycal-embed" data-path="zeljko/introduction"></div>
      <script is:inline src="https://assets.tidycal.com/js/embed.js" async></script>
    </Fragment>
  </Hero>
</Layout>
